.chat-container {
display: flex;
justify-content: center;
align-items: center;
}


.chat-card {
width: 500px;
height: calc(100vh - 50px);
display: flex;
flex-direction: column;;
}


.chat-header {
border-bottom: 1px solid #eee;
padding-bottom: .75rem;
margin-bottom: .5rem;
}


.title { font-weight: 600; }
.status { color: #4caf50; }


.chat-messages {
height: 470px;
padding-right: .5rem;
}


.message-row {
display: flex;
align-items: flex-end;
margin: .5rem 0;
gap: .5rem;
}


.message-row.user {
justify-content: flex-end;
}


.bubble {
max-width: 70%;
padding: .6rem .8rem;
border-radius: 14px;
background: #22492e;
}


.user .bubble {
background: #154b1c;
color: white;
}


.time {
font-size: .65rem;
opacity: .7;
margin-top: .25rem;
text-align: right;
}


.chat-input {
margin-top: auto;
padding-top: .75rem;
/* border-top: 1px solid #eee; */
}


textarea {
width: 100%;
resize: none;
border-radius: 12px;
}

.typing span {
  width: 6px;
  height: 6px;
  background: #9aa0a6;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(2) { animation-delay: .2s; }
.typing span:nth-child(3) { animation-delay: .4s; }

@keyframes blink {
  0%, 80%, 100% { opacity: .2; transform: translateY(0); }
  40% { opacity: 1; transform: translateY(-2px); }
}