<div class="chat-container">
  <p-card class="chat-card">
    <!-- Header -->
    <ng-template pTemplate="header">
      <div class="chat-header flex justify-content-between align-items-center p-3">
        <div class="flex gap-2 align-items-center">
          <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
          <div>
            <div class="title  text-xl font-semibold text-danger">Aceta <small class="text-sm">AI Companion</small></div>
               <!-- Logo -->

             <div class="flex align-items-center gap-2">
      <span class="online-dot"></span>
      <small class="text-400">Online</small>
    </div>
          </div>
        </div>

        <div class="flex gap-2 align-items-center">
          <p-select [options]="models" [(ngModel)]="selectedModel" placeholder="Select a model">
          </p-select>

          <button pButton icon="pi pi-sign-out" class="p-button-rounded p-button-text">
          </button>
        </div>
      </div>
    </ng-template>


    <div class="flex">
      <div class="conversation">
        <div class="flex h-full bg-white">
          <!-- SIDEBAR -->
          <div class="surface-ground p-3 flex flex-column gap-3">

            <!-- Header for conversation-->
            <div class="flex justify-content-between align-items-center w-11">
              <h3 class="m-0 text-xl" style="color: #101111;">Conversations</h3>
              <button pButton icon="pi pi-plus" (click)="startConv()" class="p-button-rounded p-button-sm"></button>
            </div>

            <!-- Search -->
            <span class=" w-11">
              <!-- <i class="pi pi-search text-500"></i> -->
              <input type="text" pInputText [(ngModel)]="search" placeholder="Search" class="w-full" />
            </span>

            <!-- List -->
            <!-- <p-scrollPanel  style="height:600px;"> -->
            <div class="messages-scroll messages-scroll-side">
              <div class="flex flex-column gap-2 overflow-auto">

                @for (convo of filteredConversations; track convo.id) {
                <div (click)="selectConversation(convo)"
                  class="p-3 border-round cursor-pointer transition-colors transition-duration-200" [ngClass]="selected?.id === convo.id 
      ? 'surface-200' 
      : 'surface-card hover:surface-100'">

                  <div class="flex justify-content-between align-items-start">

                    <div class="flex align-items-center gap-2">
                      <i class="pi pi-comments text-primary"></i>

                      <div class="flex flex-column">
                        <span
                          class="font-semibold text-sm text-overflow-ellipsis overflow-hidden white-space-nowrap capitalize"
                          style="max-width: 180px;">
                          {{ convo.title }}
                        </span>

                        <span class="text-500 text-xs text-overflow-ellipsis overflow-hidden white-space-nowrap"
                          style="max-width: 180px;">
                          {{ convo.lastMessage }}
                        </span>
                      </div>
                    </div>

                    <div class="flex flex-column align-items-end gap-2">
                      <span class="text-xs text-400">
                        {{ convo.updatedAt | date:'shortTime' }}
                      </span>
                      <!-- <i class="pi pi-ellipsis-v text-500 cursor-pointer"></i> -->
                      <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>

                      <button pButton icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-sm"
                        (click)="openMenu($event, menu, convo)">
                      </button>
                    </div>

                  </div>
                </div>
                }

              </div>
            </div>
            <!-- </p-scrollPanel> -->
          </div>
        </div>
      </div>

      <div class="flex flex-column w-full h-full gap-3">
        <!-- Messages -->
        <!-- <p-scrollPanel #scrollPanel style="height:600px; padding-left: 10px; padding-right: 60px;"> -->
        <div #scrollPanel class="messages-scroll">
          <div class="messages-wrapper">

            @for (msg of messages; track $index) {

            <div class="message-row" [ngClass]="msg.sender">

              @if (msg.sender === 'BOT') {
              <p-avatar icon="pi pi-bolt text-primary"></p-avatar>
              }

              <div class="bubble">

                @if (spin && msg === messages[messages.length - 1]) {
                <app-loader></app-loader>
                } @else {
                <div class="text">{{ msg.text }}</div>
                }

                <div class="time">
                  {{ msg.time | date:'shortTime' }}
                </div>

              </div>

              @if (msg.sender === 'USER') {
              <p-avatar icon="pi pi-user text-primary"></p-avatar>
              }

            </div>

            }

            <!-- typing indicator as a message -->

          </div>
        </div>
        <!-- </p-scrollPanel> -->

        <!-- Input -->
        <div class="chat-input flex gap-1">
          <textarea pInputTextarea class="chat-input-box" rows="1" autoResize="true" [(ngModel)]="input"
            placeholder="Type a message..." (keydown.enter)="send(); $event.preventDefault()"></textarea>

          <!-- <button pButton icon="pi pi-send" (click)="send()" class="p-button-rounded p-button-primary"></button> -->
          <button pButton icon="pi pi-send" (click)="send()" class="p-button-rounded p-button-primary"
            *ngIf="!showStopBtn"></button>

          <button pButton icon="pi pi-stop" severity="danger" class="p-button-rounded p-button-danger"
            *ngIf="showStopBtn" (click)="stop()"></button>
        </div>
      </div>
    </div>
  </p-card>
</div>